{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Wpisz swoje imię i nazwisko {% endblock %}</h1>
    <form method="post">
        <label for="title">Imię</label>
        <br>
        <input type="text" name="title"
               placeholder="Wpisz imię"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Nazwisko</label>
        <br>
        <input name="content"
                  placeholder="Nazwisko"
                  >{{ request.form['content'] }}</input>
        <br>
        <button type="submit">Przejdź do kursu</button>
    </form>
{% endblock %}
